<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hour</key>
	<integer>0</integer>
	<key>min</key>
	<integer>1</integer>
	<key>sec</key>
	<integer>0</integer>
	<key>vib</key>
	<integer>1</integer>
	<key>display</key>
	<integer>1</integer>
	<key>bgType</key>
	<string>0</string>
</dict>
</plist>
